In [18]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [20]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [24]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
#Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
loc is used to access data using labels or a boolean array.When slicing, loc includes both the start and end labels.
e.g. df.loc["A:D"]
Iloc is used to access data by integer positions (i.e., the row and column indices).
Syntax: df.iloc[row_index, column_index]
Excludes the End: When slicing, iloc excludes the end index.

In [76]:
#Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
#then find the output for both new_df.loc[2] and new_df.iloc[2].
data=pd.DataFrame({"Name":["vishi","bebo","Taanu","Taani"],
                  "Age":[1,2,3,4],
                  "sex":["F","F","M","M"]})
reindex=[3,0,1,2]
df=data.reindex(reindex)
print("iloc value \n",df.iloc[2])
print("loc value \n",df.loc[2])

#diff btw both the output is iloc is returning 2nd row based on indexing and loc return 2nd label value which is third row

iloc value
 Name    bebo
Age        2
sex        F
Name: 1, dtype: object
loc value
 Name    Taanu
Age         3
sex         M
Name: 2, dtype: object

In [82]:
import pandas as pd
import numpy as np
column=["column1","column2","column3","column4","column5","column6"]
indices=[1,2,3,4,5,6]
data=pd.DataFrame(np.random.rand(6,6),columns=column,index=indices)
data

    column1   column2   column3   column4   column5   column6
1  0.892592  0.120797  0.314301  0.157931  0.162651  0.080846
2  0.626100  0.718063  0.057885  0.493229  0.183576  0.743278
3  0.108717  0.811415  0.581165  0.728108  0.213538  0.379810
4  0.829063  0.819798  0.800090  0.569977  0.263192  0.824708
5  0.491387  0.090574  0.412631  0.896171  0.273229  0.595249
6  0.549250  0.705402  0.612089  0.218436  0.322738  0.310012

In [90]:
#Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#(i) mean of each and every column present in the dataframe.
print("mean value of each column",data.mean())
#(ii) standard deviation of column, ‘column_2’
print("std deviation of snd column",data["column2"].std())

mean value of each column column1    0.582851
column2    0.544341
column3    0.463027
column4    0.510642
column5    0.236487
column6    0.488984
dtype: float64
std deviation of snd column 0.34310913042673813

In [102]:
data.loc[1,"column2"]="stringvalue"
try:
    data.mean()
except Exception as e:
    print(e)

unsupported operand type(s) for +: 'float' and 'str'

In [104]:
#Q6. What do you understand about the windows function in pandas and list the types of windows functions?
Window functions allow you to perform calculations across a sliding or expanding window of data points in a DataFrame or Series. 
These functions are useful for various statistical, financial, and time series analyses, where you often need to compute metrics like 
moving averages, cumulative sums, or rolling statistics.

Types of Windows Functions
Rolling Window (rolling):
Purpose: Performs calculations over a moving/sliding window of a fixed size.
Common Methods:
.mean(): Moving average
.sum(): Moving sum
.std(): Moving standard deviation
.min() / .max(): Moving minimum/maximum
Example:
python
Copy code
df['rolling_mean'] = df['column'].rolling(window=3).mean()
Expanding Window (expanding):
Purpose: Calculates metrics by progressively expanding the window from the first data point up to the current point.
Common Methods:
.mean(): Expanding mean
.sum(): Expanding sum
.std(): Expanding standard deviation
Example:
python
Copy code
df['expanding_sum'] = df['column'].expanding().sum()
Exponentially Weighted Window (ewm):
Purpose: Applies exponentially decreasing weights to past observations, which gives more importance to recent data points.
Common Methods:
.mean(): Exponentially weighted moving average (EWMA)
.std(): Exponentially weighted standard deviation
Parameters:
span: Controls the decay rate (e.g., alpha = 2 / (span + 1)).
alpha: Specifies the smoothing factor directly.
Example:
python
Copy code
df['ewm_mean'] = df['column'].ewm(span=3).mean()
Cumulative Window:
Purpose: Computes cumulative metrics over the entire dataset up to each point.
Common Methods:
.cumsum(): Cumulative sum
.cummax(): Cumulative maximum
.cummin(): Cumulative minimum
.cumprod(): Cumulative product
Example:
python
Copy code
df['cumulative_sum'] = df['column'].cumsum()
Use Cases:
Time Series Analysis: Calculate moving averages, rolling correlations, or other rolling statistics.
Financial Analysis: Compute technical indicators like moving averages, Bollinger Bands, etc.
Data Smoothing: Smooth noisy data using rolling means or EWMA.
By using these window functions, you can extract more meaningful insights from your data, especially when working with time-dependent or sequential datasets.

SyntaxError: invalid syntax (1046386387.py, line 2)

In [118]:
#Q7. Write a code to print only the current month and year at the time of answering this question.
#[Hint: Use pandas.datetime function]
import pandas as pd

# Get the current date and time
current_timestamp = pd.Timestamp.now()

# Extract the current month and year
current_month_year = current_timestamp.strftime("%B, %Y")

print("Current month and year:", current_month_year)

Current month and year: August, 2024

In [120]:
#Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
#calculates the difference between them in days, hours, and minutes using Pandas time delta. Theprogram should prompt the user to enter the dates and display the result.
import pandas as pd

# Function to calculate the difference between two dates
def calculate_time_difference(date1_str, date2_str):
    # Convert input strings to pandas Timestamps
    date1 = pd.Timestamp(date1_str)
    date2 = pd.Timestamp(date2_str)
    
    # Calculate the difference between the two dates
    time_difference = date2 - date1
    
    # Extract days, hours, and minutes from the time difference
    days = time_difference.days
    hours = time_difference.components.hours
    minutes = time_difference.components.minutes
    
    return days, hours, minutes

# Prompt user to enter the two dates
date1_input = input("Enter the first date (YYYY-MM-DD): ")
date2_input = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the time difference
days, hours, minutes = calculate_time_difference(date1_input, date2_input)

# Display the result
print(f"Difference: {days} days, {hours} hours, and {minutes} minutes")

Enter the first date (YYYY-MM-DD):  1999-09-13
Enter the second date (YYYY-MM-DD):  2024-08-22

Difference: 9110 days, 0 hours, and 0 minutes